.form-control {
	margin: 1rem 0;
}

.form-control label,
.form-control input {
	width: 100%;
	display: block;
}

.form-control input {
	border: 1px solid #dbc441;
	border-radius: 2px;
	font: inherit;
	padding: 0.2rem;
}

button {
	font: inherit;
	color: #3e00a1;
	border: 1px solid #3e00a1;
	background: #fff;
	border-radius: 3px;
	cursor: pointer;
}

button:hover,
button:active {
	background-color: #3e00a1;
	color: #fff;
}

.product-form {
	width: 20rem;
	max-width: 90%;
	margin: auto;
}

.product-item {
	width: 20rem;
	max-width: 95%;
}

.product__title {
	font-size: 1.2rem;
	text-align: center;
}

.product__price {
	text-align: center;
	color: #4d4d4d;
	margin-bottom: 0.5rem;
}

.product__description {
	text-align: center;
}
